@model EmployeesApp.Web.Models.Employee
<!DOCTYPE html>
    <html>
    <head>
    <title>Detail</title>
    </head>
    <body>
    <h1>Employee Detail</h1>
    <h2>@Model.Name</h2>
    <h3>Email: @Model.Email</h3>
    </body>
    </html>